<div ng-repeat="task in tasks | filter:{section:section}"
     class="task" 
     draggable-task>
  <span ng-hide="task == model.editedTask">
    <input class="checkbox"
           type="checkbox"
           ng-model="task.complete">
    <span ng-dblclick="startEditing(task)">
      {{task.description}}
      <span ng-show="task.project"
            class="project">
        {{projects[task.project].name}}
      </span>
    </span>
  </span>
  <form ng-submit="doneEditing(task)"
        ng-show="task == model.editedTask">
    <input class="form-control"
           ng-model="task.description"
           ng-blur="doneEditing(task)"
           ng-focus="task == model.editedTask">
  </form>
</div>
