<div ng-repeat="task in tasks | filter:{section:section}"
     class="task" 
     draggable="true">
  <span ng-hide="task.editing">
    <input class="checkbox"
           type="checkbox"
           ng-model="task.complete">
    <span ng-dblclick="startEditing(task)">
      {{task.description}}
    </span>
  </span>
  <form ng-submit="doneEditing(task)"
        ng-show="task.editing">
    <input class="form-control"
           placeholder="New task"
           ng-model="task.description"
           ng-blur="doneEditing(task)"
           ng-focus="task == editedTask">
  </form>
</div>
