// Bootstrap
@import "../../vendor/bootstrap/less/bootstrap.less";
// Override font location
@icon-font-path:          "fonts/";

// Common styles
body, html {
  height: 100%;
  width: 100%;
}

.contain {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  background: @well-bg;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  flex: none;
  width: 200px;
  overflow-y: scroll;

  .nav-header {
    margin-top: 20px;
    font-weight: bold;
    padding: 0 10px;
  }
  .nav > li > a {
    padding: 10px 20px;
  }
  .nav-pills > li > a {
    border-radius: 0;
  }
  .nav > li > a .glyphicon {
    margin-right: 10px;
  }
}

.workspace {
  flex: 1;
  padding: 20px 20px;
}

@import "task.less";